body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3e8ee;
}

header {
  background-color: #ff91a9;
  color: #fff;
  padding: 30px;
  text-align: center;
}

#bienvenida {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  margin: 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

#botones {
  text-align: center;
  margin-top: 20px;
}
#map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  /* Ajusta esta altura según tus necesidades */
  width: 100%;
  /* Ajusta el ancho según tus necesidades */
  margin: 20px;
}

#map {
  height: 100%;
  width: 100%;
}

.boton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #ff91a9;
  color: #fff;
  border-radius: 5px;
  margin: 0 10px;
}
footer {
  background-color: #ff91a9;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

p {
  text-align: justify;
}

button {
  padding: 15px;
  background-color: #ff91a9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #af0993;
}
#deleteAccount,
#goBack {
  background-color: #dc3545;
  /* Color rojo */
}

#deleteAccount:hover,
#goBack:hover {
  background-color: #bd2130;
  /* Color rojo oscuro */
}

@media screen and (max-width: 500px) {
  #bienvenida {
    margin: 10px;
  }
  #botones {
    margin-top: 10px;
  }
  .boton {
    margin: 5px;
  }
  button {
    margin: 10px;
  }
}
